@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-boldoblique.otf') format('opentype');
  font-weight: 900;
  font-style: italic;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-demibold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-demiboldoblique.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-extrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-extraboldoblique.otf') format('opentype');
  font-weight: 700;
  font-style: italic;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-heavy.otf') format('opentype');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-heavyoblique.otf') format('opentype');
  font-weight: 600;
  font-style: italic;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-mediumoblique.otf') format('opentype');
  font-weight: 500;
  font-style: italic;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Integral CF';
  src: url('./Fontspring-DEMO-integralcf-regularoblique.otf') format('opentype');
  font-weight: normal;
  font-style: italic;

}